:root {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: #8992b0;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
  margin: 2.2em 7.3em;
}

* {
  /* border: lightcoral solid 1px; */
  box-sizing: border-box;
}

body * + * {
  margin-top: 1.5rem;
}

body {
  background-color: white;
  /* margin: 2em 7.1em; */
  margin: 0;
  font-size: 1.2rem;
  /* border: 1px solid red; */
  min-width: 925px;
  max-width: 1100px;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid tan; */
}

.logo-container {
  /* border: 1px solid red; */
}

.logo-container > img {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  /* border: 1px solid orange; */
}

/* come back to this */
/* .nav-button:hover {
  background-color: rgb(0, 140, 134, 0.1);
  border-radius: 0.75em;
  padding: 0.3em 0.7em;
  border: rgb(0, 140, 134, 0.2) solid 1px;
  cursor: pointer;
  color: white;
} */

.main-nav {
  height: 100%;
  margin: 0;
}
.main-nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav > ul li {
  margin: 0;
  padding-left: 1.3em;
  padding-right: 1.3em;
  list-style: none;
}

.main-nav > ul li a {
  text-decoration: none;
  color: inherit;
}

#resume {
  color: #008c86;
  border: #008c86 solid 1px;
  border-radius: 1em;
  padding: 0.3em 0.8em;
  margin-left: 1.2em;
  width: 135px;
  text-align: center;
}

#resume:hover {
  color: white;
  background-color: #008c86;
  border: #008c86 solid 1px;
  cursor: pointer;
}

.intro {
  /* border: silver 1px solid; */
  /* adjusts that first in-frame window */
  margin-top: 16vh;
  margin-bottom: 7em;
}

/* .intro div {
  margin-top: 0.8rem;
} */

.intro-blurb {
  /* line-height: 1.6rem; */
  width: 55%;
  /* border: 1px solid yellowgreen; */
}

.title + div {
  margin-top: 1.7rem;
  /* border: 1px solid green; */
}

section {
  visibility: hidden;
  opacity: 0;
  transition: all 500ms linear;
  /* border: purple solid 1px; */
}

section + section {
  margin-top: 5.5rem;
}

#in-viewport {
  visibility: visible;
  opacity: 1;
}

.lead-in {
  color: #008c86;
  font-size: 1.4rem;
  /* border: 1px solid orange; */
}

.name {
  /* margin-top: 1.5rem; */
  color: #ccd6f6;
  font-size: 2.5em;
  /* border: 1px solid purple; */
}

.name + div {
  margin-top: 1.9rem;
  color: #8992b0;
  font-size: 2.5em;
  /* margin-top: 0.1em; */
  /* border: 1px solid green; */
}

.about-me-flex {
  display: flex;
  width: 100%;
  height: 425px;
  /* border: 1px solid pink; */
}

.intro-and-skills-flex {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* border: 1px solid red; */
  height: 100%;
  padding-right: 2rem;
}

.about-me-intro {
  /* border: 1px solid grey; */
}

.skills {
  flex-grow: 1;
  /* border: solid green 1px; */
}

.listed-skills-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid purple; */
  list-style-type: square;
  padding-left: 20px;
  margin-left: 0;
  height: 145px;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 100%;
  /* flex-grow: 1; */
}

.listed-skills-flex li {
  margin-right: 16%;
  margin-top: 0;
  margin-bottom: 0.9rem;
}

.profile-image-container {
  margin-top: 0;
  width: 40%;
  /* border: 1px solid rgb(0, 47, 255); */
  position: relative;
}

.profile-image-container > img {
  width: 91%;
}

.profile-image-background {
  margin-top: 0;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 91%;
  background-color: #008c86;
  z-index: -5;
}

.project {
  display: flex;
  /* border: 1px solid tan; */
  height: 525px;
  /* position: relative; */
}
.project + .project {
  margin-top: 3.5rem;
}

.title {
  font-size: 1.6rem;
}

.title > span {
  font-size: 1.6rem;
  color: #008c86;
  margin-right: 0.3em;
}

.project-image-container {
  position: relative;
}

.slideshow-container {
  /* border: 1px solid red; */
}

.slideshow-image {
  margin-top: 0;
  width: 100%;
}

.slideshow-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid blue; */
  /* z-index: 1; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 35%;
  padding-left: 35%;
  margin-right: auto;
  margin-left: auto;
  /* turn this on when resizing */
  /* background-color: rgb(191, 195, 206, 0.3); */
}

.slideshow-nav-bar > div {
  margin-top: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 50%;
}

#nav-dot-clicked {
  background-color: #008c86;
}

/* .background-slideshow-nav {

  z-index: 500;
  background-color: #1c377f;
  width: 300px;
  height: 400px;
  left: 0;
  bottom: 300;
} */

.project-odd > .project-image-container {
  width: calc(57% + 0px);
  object-fit: cover;
  overflow: hidden;
  border: 1px solid orange;
  height: 450px;
  border-radius: 1.2em;
  background-color: rgb(137, 146, 176);
}

/* would like height of images to be the "same" as text block */
.project-image {
  width: 100%;
  /* height: 425px; */
}

.project-odd > .project-details {
  text-align: right;
  position: relative;
  /* position: absolute; */
  width: 49%;
  right: 0;
  margin-left: -50px;
  /* margin-top: 5em; */
  align-self: flex-end;
  height: 450px;
  background: rgb(120, 163, 170, 0.6);
  padding: 1.5em 2.5em;
  color: white;
  border-radius: 1.2em;
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 3px 10px rgba(147, 147, 147, 0.1);
}

.project-even > .project-image-container {
  text-align: right;
  position: relative;
  /* position: absolute; */
  width: 57%;
  right: 0;
  margin-left: -50px;
  /* margin-top: 5em; */
  align-self: flex-end;
  height: 450px;
  border-radius: 1.2em;
  border: 1px solid orange;
  object-fit: cover;
  overflow: hidden;
}

.project-even > .project-details {
  width: calc(49% + 0px);
  object-fit: cover;
  overflow: hidden;
  /* border: 1px solid green; */
  height: 450px;
  border-radius: 1.2em;
  z-index: 10;
  color: white;
  background: rgb(120, 163, 170, 0.6);
  padding: 1.5em 2.5em;
}

.inset-tagline {
  font-size: 1.1rem;
  color: #008c86;
}

.project-name {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

.description-odd {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  padding-left: 1.5rem;
}

.description-even {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  padding-right: 1.5rem;
}

.tech-container {
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 0.5rem;
  padding-top: 0;
  color: #8992b0;
}

.tech {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin: 0;
}

.tech-odd {
  justify-content: flex-end;
}

.tech-odd > li {
  font-size: 1.2rem;
  /* margin-top: 0; */
  margin-top: 0rem;
  margin-left: 1.3rem;
  font-size: 1.1rem;
}

.tech-odd > li:first-child {
  /* margin-top: 1rem; */
  margin-left: 0rem;
  font-size: 1.1rem;
}

.tech-even {
  justify-content: flex-start;
}

.tech-even > li {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-top: 0;
  margin-right: 1.3rem;
}

.tech-even > li:last-child {
  margin-right: 0rem;
  margin-top: 0rem;
}

.links {
  width: 100%;
  /* border: 1px solid green; */
  margin-top: 0.5rem;
}

.links > ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  /* border: 1px solid yellow; */
  padding: 0;
  margin: 0;
}

.links > ul li {
  font-size: 1.2rem;
  /* margin: 0em 0em 0em 1em; */
  margin-top: 0;
}

.links > ul li + li {
  font-size: 1.2rem;
  /* margin: 0em 0em 0em 1em; */
  margin-top: 0;
  /* border: 1px solid red; */
  margin-top: -2px;
}

.links-odd > ul {
  justify-content: flex-end;
}

.links-odd > ul li {
  margin-left: 1rem;
  /* border: 1px pink solid; */
}

.links-even > ul {
  justify-content: flex-start;
}

.links-even > ul > li {
  margin-right: 1rem;
  /* border: 1px pink solid; */
}

.project-link-image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links img {
  width: 33px;
  /* border: 1px solid red; */
}

.sidebar {
  position: fixed;
  bottom: 150px;
  left: 55px;
}
.sidebar::after {
  position: absolute;
  content: ".";
  color: transparent;
  width: 100px;
  height: 300px;
  border-right: black 3px solid;
  right: 13px;
  top: 165px;
}

.sidebar > ul {
  padding: 0;
  margin: 0;
}

.sidebar > ul li {
  list-style: none;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.sidebar > ul li a {
}
.sidebar-icon {
  width: 30px;
}

.contact {
  /* border: 1px solid red; */
  /* min-height: 300px; */
}

.contact-me-paragraph {
  width: 70%;
}

.hello-button {
  text-align: center;
  margin-top: 1.6rem;
  display: block;
  color: #008c86;
  border: #008c86 solid 1px;
  border-radius: 1em;
  padding: 0.3em 0.8em;
  width: 145px;
  text-decoration: none;
}

.hello-button:hover {
  color: white;
  background-color: #008c86;
  border: #008c86 solid 1px;
  cursor: pointer;
}

.footer > div {
  color: #008c86;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.personal-site-github-link {
  /* border: 1px solid violet; */
  margin-top: 0.9rem;
  display: block;
  text-align: center;
  margin-bottom: 4rem;
}

/*   max-width: 1325px; */
@media only screen and (min-width: 1320px) {
  body {
    margin: 0 auto;
  }
}
