:root {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #8992b0;
}

* {
  /* border: lightcoral solid 1px; */
  box-sizing: border-box;
}

body * + * {
  margin-top: 1em;
}

body {
  background-color: white;
  margin: 2em 7em;
  font-size: 1.2rem;
}

header {
  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.logo > img {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

.main-nav {
  height: 100%;
  margin: 0;
}
.main-nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav > ul li {
  margin: 0;
  padding-left: 1.2em;
  padding-right: 1.2em;
  list-style: none;
}

.main-nav > ul li a {
  text-decoration: none;
  color: inherit;
}

#resume {
  color: #008c86;
  border: #008c86 solid 1px;
  border-radius: 0.2em;
  padding: 0.2em 0.8em;
  margin-left: 1.2em;
}

.intro {
  margin-top: 6em;
  margin-bottom: 6em;
}

.intro div {
  margin-top: 0.8rem;
}

section {
  visibility: hidden;
  opacity: 0;
  transition: all 500ms linear;
  /* border: red solid 1px; */
}

#in-viewport {
  visibility: visible;
  opacity: 1;
}

.lead-in {
  color: #008c86;
  font-size: 1.4rem;
}

.name {
  color: #ccd6f6;
  font-size: 2.5em;
}

.name + div {
  color: #8992b0;
  font-size: 2.5em;
  margin-top: 0.1em;
}

.sidebar {
  position: fixed;
  bottom: 150px;
  left: 55px;
}
.sidebar::after {
  position: absolute;
  content: ".";
  color: transparent;
  width: 100px;
  height: 300px;
  border-right: black 3px solid;
  right: 13px;
  top: 165px;
}

.sidebar > ul {
  padding: 0;
  margin: 0;
}

.sidebar > ul li {
  list-style: none;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.sidebar > ul li a {
}
.sidebar-icon {
  width: 30px;
}
